:root{
    --primary_color: #003f7f;
    --secondary_color: #2e97ff;
    --body_background_color: rgb(210, 210, 210);
    --card_background_color: rgb(225,225,225);
    --card_border: 0.5px solid gray;
    --text_color:  black;
    --gray_text_color: rgb(127, 127, 127);
    --light_gray_text_color: rgb(98, 98, 98);
    --extra_gray_text_color:  rgb(120, 120, 120);
    --visit_website_color: #003f7f;
    --alternate_point_color: #003f7f;
}

[data-theme="dark"] {
  --primary_color: #003f7f;
    --secondary_color: #2e97ff;
    --body_background_color:rgb(50, 50, 50); 
    --card_background_color: rgb(65, 65, 65);
    --card_border: 0.5px solid gray;
    --text_color:  white;
    --gray_text_color: rgb(137, 137, 137);
    --light_gray_text_color: rgb(129, 129, 129);
    --extra_gray_text_color:  rgb(148, 148, 148);
    --visit_website_color: #2e97ff;
    --alternate_point_color: white;
    color: white;
}

body{
    background-color:var(--body_background_color); 
   }

input, select{
    background-color:var(--card_background_color) ;
    border: var(--card_border);
    color:var(--text_color);
}

* {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}

.ctgy:hover, .ctgy:active ,label:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.slogan2{
    color:  var(--gray_text_color);
}
.guidance, .topper{
    color: var(--secondary_color);
}

.logo{
    max-height: calc(2.2rem + 1.5vw);
    margin: 0px;
    margin-right: 10px;
    border-radius:50%;
}
.searchBar, .searchBar2{
    width: 25vw;
    height:30px;
    border-radius: 10px;
    padding: 3px;
    padding-left: 10px;
    border: 2px solid gray;
}
.searchBarWidth{
    width: 25vw;
}
.upperNavbar{
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:80%;
}
.signIn, .signUp{
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.signIn:hover, .signIn:active, .signUp:hover, .signUp:active{
    transform: scale(1.1);
}
.signIn{
    /* border: 2px solid var(--primary_color); */
    border: none;
    /* color: #667b90; */
    color: var(--light_gray_text_color);
    margin-right: 10px;
    font-weight: bold;
}
.signUp{
    color: white;
    background-color: var(--secondary_color);
    border: none;
    font-weight: bold;
}
header{
    display: flex;
    justify-content: center;
    /* background: linear-gradient(to right, #003f7f,#007fff); */
    background-color: var(--primary_color);
    /* background-color: #DB6D00; */
    flex-direction: column;
    align-items: center;
}
.upperNavbar a{
    padding-top: 3px;
    text-decoration: none;
}
.senior{
    color:  white;
}
.buddy{
    color:var(--secondary_color);
}
.lowerNavbar{
    padding-bottom: 45px;
    width: 100%;
    height: 35px;
}
.ctgy{
    font-weight: 700;
    color: white;
}
.homeIcon{
    font-size: 25px;
}
.homeBtn{
    padding: 8px;
    border: none;
    background-color: unset;
    position: relative;
    bottom:  3px;
}
.sCtgy{
    /* font-weight: 700 !important; */
    color: white;
}
.sCtgy:hover, .sCtgy:active{
    transform: scale(1.1);
}
#navItems{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
#navItems select{
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 5px;
}

ul {
    padding-inline-start: 0px;
}
a{
    text-decoration: none;
}
.becomeAMentor{
    border-radius: 10px;
    border: 2px solid white;
    /* height: 32px; */
    background-color: var(--primary_color);
    /* border: 2px solid white; */
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}
.userProfile{
    min-height: 40px;
    min-width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: var(--primary_color);
    position: relative;
    bottom: 0px;
}
.myBadge{
    background-color: #2e97ff !important;
}
.mobileMenuIcon{
    height: calc(2rem + 2vw);
    width: calc(2rem + 2vw);
    background-color: var(--primary_color);
    color: white;
}
.middleBar, .mobileMenu{
    display:none;
}
.mobileMenu{
    border: none;
    background-color: unset;
}
.filterBtn{
    background-color: var(--primary_color);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
}
.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}
.filterIcon{
    position: relative;
    top: -1px;
    margin-right: 3px;
}
.searchBar, .signInUp, .theme{
    position: relative;
    top: 3px;
}
.becomeAMentorIcon {
    margin-right: 2px;
    position: relative;
    bottom: 2px;
}
.filterWord{
    font-size: 14px;
}
.myHeader{
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 1000;
}
.loadingSpinner{
    margin: 100px 150px 150px 150px;
}
.mt30px{
    margin-top: 30px;
}
.noBgBorderBtn{
    border: unset;
    background-color: unset;
}
.theme{
    position: relative;
    top: -0.5px;
}
.accordion {
    --bs-accordion-color: var(--text_color);
     --bs-accordion-bg: var(--card_background_color);
}
.accordion-item {
    color: var(--text_color);
    background-color: var(--card_background_color);
    border: none;
}
.accordion-button{
    font-weight: bold;
    border: 0.5px solid gray;
}

.accordion-button:not(.collapsed) {
    font-weight: bold;
    text-align: center;
    color: var(--text_color);
    background-color: var(--card_background_color);
    
}