@media screen and (max-width:1067px){
    .container11, .slogan2{
        display: none;
    }
    .slogan1{
        text-align: center;
        line-height: 30px;
        font-weight: 600 !important;
    }
    .filter{
        display:none;
    }
    .noResultsMsg{
        padding-left: 0px;
        margin-bottom: 15vw;
    }
}
@media screen and (max-width:1252px){
        .container11, .slogan2{
        display: none;
    }
}
