@media screen and (max-width: 350px){
    .BimalCard{
    /* border: 2px solid black; */
    display: inline-block;
    width: 280px;
    box-sizing: border-box;
    font-size: 14px;
    /* margin: 5vw; */
    margin-bottom: 10vw !important;
    border: 2px solid gray;
    border-radius: 10px;
}
.upperNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:95%;
}
.howHeHelps, .addtoWishlist{
    padding-left: 2px;
    padding-right: 2px;
    width: 130px;
}
.offcanvas.offcanvas-start {
    width: 80vw;
}
.part12{
    /* line-height: 20px; */
    font-size: 14px;
    font-weight: 400;
}
.howHeHelps{
    margin-top: 5px;
    line-height: 30px;
}
.part32{
    line-height: 25px;
}
.normalWtMbl, .addtoWishlist {
    font-weight: 400 !important;
}
.introContainer{
    overflow: hidden;
}
}