.introContainer{
    display: flex;
    justify-content: center;
}
.intro{
    border-radius: 10px;
    height: 200px;
    padding: 25px;
    border: var(--card_border);
    background-color: var(--card_background_color);
}
.intro img{
    padding-bottom: 0px;
}
.goBack, .getHelp2{
    width:200px;
    padding-top:5px;
    padding-bottom: 5px;
    font-size: 22px;
    border-radius: 15px;
    /* padding: 20px !important; */
}
.getHelp2{
    margin-top: 0px;
}
.goBack{
    /* color:#a0afbd; */
    color: var(--light_gray_text_color);
    background-color: white;
}
.icon{
    height: calc(8rem + 4vw);
    margin-right: 10px;
}
.iconPartTime{
    margin-right: 20px;
}
.iconDifferentlyAble{
    height: calc(15rem + 4vw);
    margin-left: -30px;
    margin-bottom: -35px;
}
.heading{
    font-size: calc(1.7rem + 0.7vw);
    text-align: center;
    /* margin-bottom: 10px; */
}
.point{
    font-size: calc(1.5rem + 0.5vw);
    font-weight: bold;
}
.pointDifferentlyAble{
    font-size: calc(1.5rem + 1vw);
    font-weight: bold;
    margin-left: -20px;
}
.seniorName{
    color: var(--secondary_color);
}
.fontSize1-5rem{
    font-size: 1.5rem;
}
.g1p{
    color:  var(--alternate_point_color);
}
.g2p{
    color: var(--secondary_color);
}
.paymentStatement{
    color: var(--alternate_point_color);
    line-height: 35px;
}
.colorGray{
    color: gray;
}
.paymentBtn{
    border-radius: 10px;
    width: 160px;
    height: 45px;
    border:none;
    margin-bottom: 17px;
}
.esewaBtn{
    background-color: #62bc47;
    overflow:hidden;
}
.khaltiBtn{
    background-color: #582898;
}
.esewaImg{
    position: relative;
    bottom: 3px;
}