.dashboardBtn {
  width: 250px;
  font-weight: bold;
}
.dashboardCrossBtn {
  position: absolute;
  right: 5vw;
  top: 17px;
  border: none;
  background-color: unset;
  color: white;
}
.adminDashboardHeading {
  background-color: var(--primary_color);
  color: white;
}
.colorBlue {
  color: var(--secondary_color);
}
.label {
  width: 150px;
}
.inputBox {
  width: 300px;
}
@media screen and (max-width: 350px) {
  #collegeNameInputBox {
    width: 270px;
  }
  .inputBox {
    width: 250px;
  }
}
.collegeNameInput {
  width: 350px;
  padding-left: 10px;
}
