.footerUpper{
    background-color: #b6daff;
}
.footerLogoImage{
     max-height: calc(2rem + 1vw);
}
.impLinks{
    list-style: none;
    margin-left: 5px;
    margin-bottom: 0px;
}
.impLinks li a{
    font-size: 20px;
}
.contactIcon{
    font-size: 25px;
    margin-right: 10px;
    margin-bottom:8px;
}
.logoContainer{
    flex-shrink: 0;
}
.contactBody{
    margin-left: 5px;
}
.footerLower{
    text-align: center;
    padding:25px 0px !important;
    color: white;
    background-color: #003f7f;
}
.footerLower a{
    color: white;
}