.mobileMenuContainer, .mobileFilterContainer{
    width: 80vw;
    position: fixed;
    top: 80px;
    left: 0px;
    display: none;
    border-radius: 10px;
}
.mobileMenuContainer{
    z-index:999;
    background-color: var(--primary_color);
    color: white;
}
.mobileFilterContainer{
    z-index: 998;
    background-color: var(--card_background_color);
}
.crossIcon{
    font-size: 30px;
    color:  white;
}
.colorBlack{
    color: var(--text_color);
    margin-top: 15px;
}
.crossBtn{
    background-color: unset;
    border: none;
}
.mobileSignInUp{
    display: unset;
    top: 0px;
}
.mobileTheme{
    display: unset;
    top: 0px;
    margin-left: 7vw;
}
.mobileLightThemeIcon, .mobileDarkThemeIcon{
    position: relative;
    bottom: 3px;
}
.mobileFilter{
    display: unset;
    margin-right: 0px;
    padding: unset;
    margin-top: 20px;
    width: unset;



}

@media screen and (max-width: 1066px){
    .mobileMenuContainer, .mobileFilterContainer{
        display: unset;
    }
}